{% extends 'base.html' %}

{% load static %}

{% block conteudo%}

<div id="hero" style="background-image: url({% static 'images/cafepaoHero.png' %}">
  <hgroup>
    <h1>Assine sua manhã perfeita AGORA!</h1>
    <p>
      Comece suas manhãs com sabor e praticidade Assine o Café com Pão!
    </p>
    <p>
      São {{ qtd_padarias }} padarias parceiras, {{ qtd_cestas }} tipos de cestas incríveis com {{ qtd_produtos }} produtos disponíveis para você escolher.
    </p>
  </hgroup>
</div>

<section class="featured container">
  <img src="{% static 'images/breadsHome.png' %}" alt="cesta com paes">
  <div>
    <h2>Cestas com produtos perfeitos!</h2>
    <p>
      Nosso compromisso com a qualidade e a conveniência torna cada entrega uma experiência única. Experimente o que temos a oferecer
    </p>
    <ul>
      <li>Variedade Premium</li>
      <li>Personalização Flexível</li>
      <li>Entrega Confiável</li>
    </ul>
  </div>
</section>

<section class="quote">
  <q class="container">
    Adoro receber minha cesta de café da manhã do Café com Pão toda semana! A variedade de itens frescos e a qualidade dos produtos superam minhas expectativas. Começo cada manhã com um sorriso graças a essa delícia. Recomendo a todos que buscam praticidade e sabor na primeira refeição do dia!
    <br>
    <cite>— Maria da Silva, São Paulo</cite>
  </q>
</section>

{% endblock %}