{% load static %}
<footer>
  <span class="logo">
    <i class="bi bi-cup-hot-fill"></i>
    CAFÉ COM PÃO
  </span>
  <hr>
  <div id="social">
    <a href="https://www.facebook.com/" target="_blank">
      <img src="{% static 'images/logos/face.png' %}" alt="facebook link" />
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="{% static 'images/logos/instagram.png' %}" alt="instagram link" />
    </a>
    <a href="https://www.pinterest.com/" target="_blank">
      <img src="{% static 'images/logos/pinterest.png' %}" alt="pinterest link" />
    </a>
  </div>
</footer>