<header>
  <nav>
    <span class="logo">
      Café com Pão
      <i class="bi bi-cup-hot"></i>
    </span>
    <ul>
      <li><a href="{% url 'home' %}">Principal</a></li>
      <li><a href="{% url 'cestas_list' %}">Cestas</a></li>
      <li><a href="{% url 'padarias_list' %}">Padarias</a></li>
      <li><a href="{% url 'about' %}">Sobre</a></li>
    </ul>
    {% if user.is_authenticated %}
      <a href="{% url 'minha_conta' %}" class="btn btn-primary">Minha Conta</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary">Entrar</a>
    {% endif %}
  </nav>
</header>