<nav>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'minha_conta' %}">
        <i class="bi bi-house"></i> Minha Conta
      </a>
    </li>
    <li class="nav-item">
      {% if user.assinatura %}
        <a class="nav-link" href="{% url 'assinatura_update' user.assinatura.id %}">
          <i class="bi bi-pen"></i> Alterar Assinatura
        </a>
        <a class="nav-link" href="{% url 'assinatura_delete' user.assinatura.id %}">
          <i class="bi bi-trash"fill></i> Cancelar Assinatura
        </a>
      {% else %}
        <a class="nav-link" href="{% url 'assinatura_create' %}">
          <i class="bi bi-basket3-fill"></i> Nova Assinatura
        </a>
      {% endif %}
    </li>
    <li class="nav-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="nav-link">
          <i class="bi bi-door-closed"></i> Sair
        </button>
      </form>
    </li>
  </ul>
</nav>